<div id="fms-entities-form" class="col-md-12" style="top: -40px; position: relative;" ng-cloak>
	<div class="page-header" ng-show="!item.name && !editMode">
		<h3>Add Item</h3>
	</div>
	<div class="page-header" ng-show="!item.name && editMode">
		<h3>Update Item</h3>
	</div>
	<div class="page-header" ng-show="item.name">
		<h3>
			<small>ITEM: </small>
			{{item.name}} 
		</h3>
	</div>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-md-3 control-label">Name*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="item.name" id="name"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color1" class="col-md-3 control-label">Description*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="item.description" id="description"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color2" class="col-md-3 control-label">Size*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="item.size" id="size"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color3" class="col-md-3 control-label">Price*</label>
			<div class="col-md-3" style="text-align: right!important;">
				<input 
					type="text" class="form-control" 
					ng-model="item.price" id="price"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color3" class="col-md-3 control-label">Barcode*</label>
			<div class="col-md-9">
				<input 
					type="text" class="form-control" 
					ng-model="item.barcode" id="barcode"
				>
			</div>
		</div>
		<div class="form-group">
			<label for="color3" class="col-md-3 control-label">Active*</label>
			<div class="col-md-9">
				<input type="radio" ng-model="item.active" id="active" name="active" value="true">Yes<br/>
				<input type="radio" ng-model="item.active" id="active" name="active" value="false">No<br/>
			</div>
		</div>
		<div class="form-group">
			<label for="color3" class="col-md-3 control-label">Taxable*</label>
			<div class="col-md-9">
				<input type="radio" ng-model="item.taxable" id="taxable" name="taxable" value="true">Yes<br/>
				<input type="radio" ng-model="item.taxable" id="taxable" name="taxable" value="false">No<br/>
			</div>
		</div>
		<div class="form-group">
			<label 
				for="repeatSelect" 
				class="col-md-3 control-label"
			>
				Category*
			</label>
			<div class="col-md-9">
				<select 
					name="repeatSelect" 
					id="repeatSelect" 
					ng-model="item.category"
				>
					<option 
						ng-repeat="option in data.availableOptions" 
						value="{{option.name}}"
					>
						{{option.name}}
					</option>
				</select>
			</div>
		</div>
		<br/>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<button
					type="button" class="btn btn-danger col-md-1" 
					ng-click="cancel()"
				>
					Cancel
				</button>
				<button 
					type="button" class="btn btn-primary col-md-1 pull-right" 
					ng-click="save(item)"
				>
					<i class="fa fa-save"></i> &nbsp;
					Save
				</button>
			</div>
		</div>
	</form>
</div>
